@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}


html, body, #app {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
  outline: none;
}


[class^="el-icon-my"], [class*="el-icon-my"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
