@import "./reset.scss";

.main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

// 操作栏
.action-bar {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  // padding: 15px 15px 5px;
  .left-bar {
    //flex: 1;
    display: flex;
    margin-right: 5px;
    .el-button {
      margin: 0 5px 0 0;
    }
    .el-button-group {
      margin-right: auto;
    }
    .el-form {
      display: flex;
    }
    .el-form-item {
      max-width: 150px;
      margin: 0 5px 0 0;
    }
  }
  .right-bar {
    margin-left: auto;
    .el-form {
      display: flex;
    }
    .el-form-item {
      max-width: 150px;
      margin: 0 0 0 5px;
    }
    .el-input--small {
      font-size: 12px;
    }
  }
}

.table-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  .el-table th {
    color: #333;
  }
  .el-table td {
    color: #666;
  }
  .el-tag {
    //font-size: 14px;
  }
  .el-button {
    height: 24px;
    margin: 0;
    padding: 0px 5px;
    //font-size: 13px;
  }
}

.page-bar {
  padding: 7px;
  text-align: center;
  background-color: #ffffff;
}


.form-dialog {
  .el-dialog {
    background-color: #f0f3fb;
  }
  .el-dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .el-dialog__headerbtn {
    position: static;
    background-color: #353535;
    border-radius: 50%;
    padding: 3px;
    .el-dialog__close {
      display: block;
      font-size: 14px;
      color: #fff;
    }
  }
  .el-dialog__body {
    padding: 0 15px 15px;
  }

  .form-dialog-block {
    margin-bottom: 15px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
    }
    // 单选项
    .el-radio-group {
      margin-left: 15px;
    }
    .el-radio__label {
      font-size: 12px;
    }
    .el-radio__inner {
      width: 12px;
      height: 12px;
    }
    .form-dialog-subtitle {
      height: 44px;
      line-height: 44px;
      padding: 0 15px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 12px;
      font-weight: normal;
      color: #409eff;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        margin-right: 5px;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 12px;
        background-color: #409eff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .el-form-item {
      margin: 0;
      padding: 5px 5px 5px 15px;
      position: relative;
      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid #e6e6e6;
        position: absolute;
        left: 15px;
        bottom: 0;
        right: 0;
      }
      &:last-child::after {
        display: none;
      }
    }
    .el-form-item__label {
      font-size: 12px;
      color: #888;
      position: relative;
      &::before {
        margin: 0;
        position: absolute;
        top: 0;
        right: 10px;
        font-family: '\5B8B\4F53';
      }
    }
    //.el-form-item__content {
    //  display: flex;
    //  .form-dialog-unit {
    //    padding-right: 10px;
    //    white-space: nowrap;
    //  }
    //}
    .el-input__inner {
      border: 0;
      font-size: 12px;
      color: #353535;
    }
    .el-input-group__append {
      //padding: 0 10px;
      background-color: transparent;
      border: 0;
    }
    .is-disabled {
      .el-input__inner {
        background-color: #fff;
        color: #353535;
      }
    }
    // 多选样式
    .form-dialog-checkbox-list {
      padding: 0 0 0 15px;
      .el-form-item__label {
        margin: 8px 0;
      }
      .form-dialog-checkbox-item {
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e6e6e6;
        color: #353535;
        &:last-child {
          border-bottom: 0;
        }
        .el-checkbox__input {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        .el-checkbox__label {
          font-size: 12px;
          padding-left: 0;
        }
      }
    }
    // 日期选择样式
    .el-input__prefix {
      left: 10px;
    }
    .el-input--prefix .el-input__inner {
      padding-left: 40px;
    }
    .el-input--suffix .el-input__inner {
      padding-right: 40px;
    }
    // 上传图片
    .form-dialog-upload-item {
      padding: 15px 15px 0;
      &::after {
        display: none;
      }
      &:last-child {
        padding-bottom: 15px;
      }
    }
    .form-dialog-upload-image {
      width: 100%;
    }
    // 上传文件
    .form-dialog-file-item {
      .form-dialog-upload-file {
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        padding-left: 15px;
        padding-right: 5px;
        .el-button {
          display: block;
          margin-right: 10px;
        }
        .el-upload-list {
          flex: 1;
        }
        .el-upload-list__item {
          margin-top: 0;
        }
      }
    }
    // 权限树
    .form-dialog-tree {
      // padding: 0 0 0 15px;
      padding: 0px;
      .el-tree {
        margin-top: -1px;
      }
      .el-form-item__label {
        margin: 8px 0;
      }
      .el-tree-node__label {
        font-size: 12px;
      }
      .el-tree-node__content {
        height: 40px;
        border-top: 1px solid #e6e6e6;
      }
    }
    // 文本域
    .form-dialog-no-pass {
      padding: 0;
      .el-textarea__inner {
        padding: 12px 15px;
        border: 0;
        font-size: 12px;
        color: #353535;
      }
      .el-textarea.is-disabled {
        .el-textarea__inner {
          background-color: #fff;
        }
      }
    }
    // 表格
    .el-table {
      &::before {
        display: none;
      }
      th {
        font-weight: normal;
        color: #888;
      }
      td {
        color: #353535;
      }
      .cell {
        padding: 0 15px;
      }
      .el-table__row {
        &:last-child {
          td, th {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .el-button-group {
    display: flex;
    .el-button {
      flex: 1;
    }
  }
}

// 订单 => 途经点
.form-dialog-point-list {
  padding-left: 15px;
  .form-dialog-point-item {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #e6e6e6;
    span {
      padding: 5px;
      margin-right: 10px;
      line-height: 1em;
      border: 1px solid rgba(64,158,255,.2);
      border-radius: 50%;
      color: #409EFF;
      background-color: rgba(64,158,255,.1);
      &.point-start {
        border-color: #c2e7b0;
        color: #67c23a;
        background-color: #f0f9eb;
      }
      &.point-end {
        border-color: #fbc4c4;
        color: #f56c6c;
        background-color: #fef0f0;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.detail-main {
  flex: 1;
  overflow-x: hidden;
}

//详情页
.detail-wrap {
  margin: 15px;
  margin-top: 0;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  .detail-title {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    line-height: 48px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    h1 {
      font-size: 14px;
      font-weight: normal;
      color: #409eff;
      &::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 50%;
        background-color: #409eff;
        transform: translateY(-50%);
      }
    }
  }
}

.userinfo-avatar-wrap {
  display: flex;
  align-items: center;
  height: 32px;
  img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
  }
  span {
    font-size: 14px;
    color: #353535;
    line-height: 1em;
  }
}

.detail-list {
  .detail-item {
    display: flex;
    align-items: center;
    height: 48px;
    margin-left: 15px;
    border-bottom: 1px solid #e6e6e6;
    &:last-child {
      border-bottom: 0;
    }
    .detail-item__title {
      margin-right: 15px;
      min-width: 120px;
      font-size: 14px;
      color: #888888;
      font-weight: normal;
    }
    .detail-item__content {
      font-size: 14px;
      color: #353535;
      .el-tag {
        font-size: 14px;
      }
    }
  }
}

//添加信息

.submit-form__view {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow-x: hidden;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  z-index: 2000;
  outline: 20px solid rgba(0, 0, 0, .3);
  //box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.submit-form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  font-weight: normal;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  & > .close-btn {
    border: 0;
    padding: 0;
    background: none;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    & > i {
      font-size: 16px;
    }
  }
  & > .right-bar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.submit-form__main {
  width: 100%;
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto;
  .el-form-item__label {
    font-size: 12px;
  }
  .submit-form__subtitle {
    margin-bottom: 30px;
    line-height: 2em;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #409eff;
    position: relative;
    &::after {
      content: "";
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #409eff transparent transparent transparent;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
    }
  }
}

.order-status__tags {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 32px;
  padding: 0 15px;
  border: 1px solid #dcdfe6;
  background-color: #ffffff;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  &:hover {
    border-color: #c0c4cc;
  }
  & > li {
    list-style: none;
    margin-right: 30px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    color: #cccccc;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    &:last-child {
      margin-right: 0;
    }
    &:hover, &.is-active {
      color: #409eff;
      border-bottom: 2px solid #409eff;
    }
  }
}

// 放大图片
.zoom-img__simg {
  width:30px;
  height:30px;
  border-radius:50%;
  cursor:pointer;
  overflow: hidden;
}

.zoom-img__box {
  .el-dialog {
    border-radius: 4px;
  }
  .el-dialog__header {
    height: 0;
    padding: 0;
  }
  .el-dialog__body {
    padding: 0;
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
  .el-dialog__headerbtn {
    background-color: #353535;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #fff;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    .el-dialog__close {
      display: block;
      font-size: 12px;
      color: #fff;
    }
  }
}

.form-input-number {
  margin-left: 15px;
  .el-input-number__decrease,
  .el-input-number__increase {
    border-radius: 50%;
    border: 0;
    border-bottom: 1px solid #dcdfe6;
  }
}

.form-dialog-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5px;
  & > i {
    color: #b2b2b2;
    font-size: 12px;
    &:hover {
      color: #333333;
    }
  }
}
